body {
  font-family: 'Baskervville', serif;
  font-weight: 500;
  font-size: 1.25em;
  line-height: 1.5;
  color: #231f20; 
  background-color: #fbfbf7;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

section {
  border-top: #ead187 5px solid;
  border-radius: 5px;
  padding-top: 0.5em;
  margin-bottom: 1rem;
}

h1, h2, h3 {
  font-family: 'Cinzel', serif;
  font-weight: 400;
  color: #ead187;
  margin-top: 0;
  margin-bottom: .5rem;
}

h1 {
  font-size: 2.5em;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul strong {
  color: #f95738;
  list-style: none;
}

aside > ul {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #f95738;
}

a:hover {
  color: #ead187;
}

q {
  font-style: italic;
  align-self: flex-end;
}

cite {
  font-style: normal;
  align-self: flex-end;
}


.container {
  max-width: 83.7%;
  margin: 0 auto;
  padding: 0 15px;
  border: 1px solid black;
  
  display: flex;
  flex-direction: column;
}

.intro {
  margin-top: .25rem;
  text-align: center;
}

.thumbnail {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
}

.content {
  display: flex;
}

.description {
  padding: 0 30px;

}