<footer class="container">
  <div class="row text-center">
    <div class="col-md-6">
      <span>Web Development Studying Project</span>
    </div>
    <div class="col-md-6">
      <span>Nathan Santos</span>
      <a href="https://github.com/santosnna">
        <i class="fab fa-github size-2 size-md-3"></i>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <span>&sim;&nbsp;2020&nbsp;&sim;</span>
    </div>
  </div>
</footer>