<nav class="navbar navbar-expand-md bg-light">
  <div class="container">
    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar-collapse"
      aria-expanded="false"> <span class="sr-only"></span>
      &#x2630;</button>

    <div class="collapse navbar-collapse justify-content-center" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item px-lg-2"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item px-lg-2"><a href="/peter-green" class="nav-link">Peter Green Era</a></li>
        <li class="nav-item px-lg-2"><a href="/bob-welche" class="nav-link">Bob Welche Era</a></li>
        <li class="nav-item px-lg-2"><a href="/buckingham-nicks" class="nav-link">Buckingham and Nicks Era</a></li>
      </ul>
    </div>
  </div>

</nav>