<div class="container">
  <section>
    <article>
      <h1>Lindsey Buckingham and Stevie Nicks Era (1974 - latest)</h1>
      <div class="row">
        <div class="col-md-4">
          <img src="./img/fm-f3.jpg" class="img-thumbnail"
            alt="Fleetwood Mac with Lindsey Buckingham and Stevie Nicks formation">
        </div> <!-- .col-md-4 -->
        <div class="col-md-8">
          <p>
            <span>Summary of this fase</span>
            <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eveniet saepe possimus! Quas non,
            voluptate ipsum voluptatum eum, quasi
          </p>
        </div> <!-- .col-md-8 -->
      </div> <!-- .row -->
    </article>

    <hr>

    <article>
      <ul>
        <li>
          <strong>1975:</strong> <em>&quot;Fleetwood Mac&quot;</em>, tenth studio album and the second self-titled
          record in
          their discography.
        </li>
        <li>
          <strong>1977:</strong> release of <em>&quot;Rumours&quot;</em>, their elenventh studio album.
        </li>
      </ul>
    </article>

    <section>
      <h2>Rumours</h2>

      <div class="row">
        <div class="col-md-4">
          <img src="./img/fm-rumours.jpg" class="img-thumbnail" alt="Rumours album cover">
        </div> <!-- .col-md-4 -->
        <div class="col-md-8">
          <p>
            <span>Album summary</span>
            <br>Released on 4 February 1977. Rumours reached the top of both the US Billboard 200 and the UK Albums
            Chart,
            and became the band&apos;s
            most successful release.
          </p>
          <ul>
            <li>
              <strong>2001:</strong> ranked <em>number 25</em> in <em>Rolling Stone&apos;s</em> special issue of
              &quot;The
              500
              Greatest Albums of All Time&quot;.
            </li>
            <li>
              <strong>2003:</strong> inducted into the <em>Grammy</em> Hall of Fame.
            </li>
            <li>
              <strong>2006:</strong> named in <em>Time&apos;s</em> &quot;All-TIME 100 Albums&quot; list.
            </li>
          </ul>
        </div> <!-- .col-md-8 -->
      </div> <!-- .row -->

      <h3>Hits:</h3>
      <div class="row pt-2">
        <div class="col">
          <ul>
            <li>
              <strong><a href="https://www.youtube.com/watch?v=QV9JJmSCiI8" target="_blank ">Don&apos;t
                  Stop:</a></strong>
              The first single of <em>&quot;Rumours&quot;</em>. This song was also used in Bill Clinton&apos;s 1994
              campaign.
            </li>
            <li>
              <strong><a href="https://www.youtube.com/watch?v=ozl3L9fhKtE" target="_blank ">Go Your Own
                  Way:</strong></a>
              The song expresses Buckingham&apos;s feelings in a period when Stevie Nicks and he were going through
              relationship issues.
            </li>
            <li>
              <strong><a href="https://www.youtube.com/watch?v=kBYHwH1Vb-c" target="_blank ">The Chain:</a></strong>
              Only song credited to all five members in that time. Considered to have one of the most recognizable
              bass
              lines of all times.
            </li>
          </ul>
        </div>
      </div> <!-- .row -->
    </section>
  </section> <!-- /rumours -->
</div> <!-- /container -->