<div class="container">
  <section>
    <h1 class="d-none d-sm-block display-4">Fleetwood Mac</h1>
    <div class="row">
      <div class="col-lg-6">
        <img src="./img/fm-cover.jpg" class="img-thumbnail" alt="Fleetwood Mac in late 70's">
      </div>
      <div class="col-lg-6">
        <p>Fleetwood Mac is a band formed in London by Mick Fleetwood and John &quot;Mac&quot; McVie .
          They
          have been
          active since 1967 and have had several formations over the years. Some of its former members are Peter Green
          and
          Bob
          Welche. But it was with Lindsey Buckingham and Stevie Nicks as band members that they released their most
          commercially successful studio albums. Among these is Rumours, which topped American and British charts
          and has been included in multiple lists of the best albums.
        </p>
      </div>

      <%- include('./partials/allFormations') %>

    </div>

    <hr>

    <aside class="d-flex justify-content-end">
      <blockquote>
        <q class="font-italic">If you wake up and don&apos;t want to smile
          <br>If it takes just a little while
          <br>Open your eyes and look at the day
          <br>You&apos;ll see things in a different way
        </q>
        <br>
        <!-- <footer> -->
        <cite class="font-weight-bold">Fleetwood Mac - Don&apos;t Stop</cite>
        <!-- </footer> -->
      </blockquote>
    </aside>
  </section>
</div> <!-- /container -->