<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Tribute Page | Fleetwood Mac</title>

  <link href="https://fonts.googleapis.com/css?family=Baskervville|Cinzel&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/tribute-page.css">

</head>

<body>
  <div class="container">

    <section class="mb-lg-3">
      <h2>Peter Green Era</h2>
      <div class="row">
        <div class="col-md-4">
          <img src="img/fm-f1.jpg" alt="Fleetwood Mac with Peter Green formation" class="img-fluid img-thumbnail">
        </div>
        <div class="col-md-8">
          <p>
            Summary of this fase
            <br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque error architecto ea aperiam
            necessitatibus facilis asperiores hic nemo
          </p>
          <ul>
            <li>
              <strong>1968:</strong> <em>"Fleetwood Mac"</em> first studio album, self-titled.
            </li>
            <li>?</li>
            <li>[peter left]</li>
          </ul>
        </div> <!-- /col-md-8 -->
      </div>
    </section> <!-- /peter green -->

  </div> <!-- /container -->
</body>

</html>